<% if !@user.articles.blank? %>
  <ul>
    <% @user.articles.each do |a| %>
      <li id="article_<%= a.id %>">
        <%= a.text %>
        <%= link_to 'Destroy', [@user, a], method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>No Articles...</h3>
<% end %>
